.scroll-disable {
  overflow: hidden;
}

.basicLightbox {
  background: none;
}

.lightbox__container {
  width: 806px;
  height: 558px;
  background-color: #ffffff;
  padding: 50px 40px;
  //padding-top: 0;
  box-shadow: 1px 2px 3px 0px #aa8a8a;
  position: relative;
}

.lightbox__close-btn {
  position: absolute;
  top: 0;
  right: 0;

  border: none;
  padding: 6px 15px 15px 15px;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
  }
}

.lightbox__arrow {
  position: absolute;
  border: none;
  background: transparent;
  opacity: 0.5;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 600;
  font-size: 40px;
  padding: 10px;

  justify-content: center;
  &-prev {
    top: 50%;
    left: 0;
  }
  &-next {
    top: 50%;
    right: 0;
  }
  &:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
    color: #ff6b01;
  }
}
